<head>
	<base href="/">
</head>
<db-navbar></db-navbar>
<ol class="carousel-indicators">
	<li data-target="#welcome-products" *ngFor="let category of slideCategories; let first=first; let i=index" attr.data-slide-to="{{i}}" [ngClass]="{active: first}"></li>
</ol>
<div class="carousel-inner" role="listbox">
	<div *ngFor="let category of slideCategories; let first=first" class="carousel-item" [ngClass]="{active: first}">
		<db-category-slide [category]="category" (select)="selectCategory($event)">
		</db-category-slide>
	</div>
</div>
<div class="row">
	<db-category-card *ngFor="let category of cardCategories" [category]="category" (select)="selectCategory($event)"></db-category-card>
</div>
<router-outlet></router-outlet>
<db-footer></db-footer>